.body_cv{
    background-color: #000000;
    color: #ffffff;
  }
  
  
  #perfil{

    width: 125px;
    height: 125px;
    border-radius: 50%; 
    border: 1px solid #006eff; 
  }
  
  .header_cv{
    display: flex;
    background-color: #504a4a;
    justify-content: space-evenly;
    padding: 2%; 
    border-bottom: 2px solid #444444;
  }
  
  .info_perfil{
    text-align: center; 
    
  }
  
  #nom_perfil{
    font-size: 40px;
    color: #ffffff;
  }
  #info_perfil{
    font-size: 15px;
    color: #888686;
  }
  
  
  
  .links_header a{
    color: #008CBA;
    text-decoration: none;
  }
  .links_header a:hover{
    color: #00FF00;
  }
  
  
  
  
  /* main */
  main{ 
    background-color: #2B2B2B;
    padding: 2%;
    padding-left: 25%;
  }
  
  .contenedor_main{
    display: flex;
  }
  
  .text_aca{
    display: flex;
    align-items: center;
    gap: 1.5%; 
  }
  
  .text_aca_fo{
    padding-left: 4%;
  } 
  
  .form_Desc{
    width: 27%;
    padding-right: 3%;
    text-align: left;
  }
  

  /* footer */
  footer{
    background-color: #1E1E1E;
    padding: 20px;
  }
  
  .footer_cv{
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
    padding-left: 8%;
  }
  
  .links_footer{
    color: #008CBA;
    text-decoration: none;
  }
  
  .footer_cv a:hover{
    color: #00FF00;
     transition-duration:0.5s ; 
  }
  